<div class="story-body">
  <p>Galloway, who stars in a <a href="https://www.filmoptioninternational.com/skinhead">documentary</a> about his experiences in the far right, decided to leave the movement for many reasons, but cited his family and his exhaustion with the ideology and violence as the main factors.</p>
  <p>“It’s super challenging to try to hate a bunch of different people for no reason,” he said. “I was always playing with this idea of do I really hate these people or why do I have to conform to this belief system.” </p>
  {{!-- <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src="images/cat.jpg"></p> --}}
  <p>Now he is studying criminology at University of Fraser Valley and is a research intervention specialist with Prevention of Violence Canada, where he researches dynamics among extremist groups. </p>
    <p>After Galloway left in 2011, Volksfront disbanded a few years later. But hate groups have been rising in this country –- and if current trends continue, that number will increase even more.</p>
    <p>A linear regression model used the number of hate groups from 2000 to 2018, tallied by the Southern Poverty Law Center, to predict the number of groups in future years. The count per year from the SPLC and this regression are shown in the chart below. </p>
</div>