{{!-- <div class="story-body scrollytelling">
    
    
    <div id="chart-3" class='chart'></div>
    <div class='steps'>
      <div class='step' id='rect_animation'></div>
    </div>
</div> --}}

<div class="story-body">
  <center><h2>Hate groups could continue to increase</h2></center>
<div id="chart-3" class='chart step'></div>
</div>

{{!-- <script src="scripts/chart-01.js"></script> --}}
<script src="scripts/chart-03.js"></script>
{{!-- <p style="text-align: center"><img src="images/lin-reg.png"></p>  --}}
