<div class="story-body"><br><br>
   <p>Brad Galloway was looking for a sense of belonging when his friend approached him with an idea. Galloway had a tough adolescence -- he had already landed in jail multiple times by age 19 and was desperate for a sense of belonging. With a turbulent past and a desperate need to fit in somewhere, he became the perfect candidate for what his friend had in mind: join the white supremacist movement.</p>
  <p>“If he was a member of The Irish Republican Army or a street gang or biker gang, I would have joined that,” Galloway said. “I was legit looking for some criminal group to be a part of.”</p>
  <p>He became a skinhead –- including the shaved head, Doctor Martens boots and black bomber jacket –- and went on to become a national leader for Volksfront, a now defunct neo-Nazi group whose goal was to establish a white utopia in the Pacific Northwest.</p>
  <p>Galloway was part of the movement for 13 years before he decided to leave. While he didn’t partake in any violence himself (he was more in charge of the leadership side), he witnessed many vengeful acts and hate crimes, including ones where people died.</p>
  <p>“Some people I encountered had done 30 year sentences for their part in different types of hate related offenses,” Galloway said. “One was attacking a homeless man in the Portland area, another one was domestic terrorist related, there was a murder plotted for a radio personality guy, even armed robbery stuff.” </p>
  <p>Last month, the FBI released hate crimes reported to the agency in 2018. The map below shows which states have the most reported hate crimes per person. Hover over it to see more information. D.C., which is too small to show up on the map, had the highest number of hate crimes per capita, at 1 for every 2,718 people. Washington state –- where Volksfront had a high population –- is also in the top hate groups per capita, along with New Jersey, Michigan, among others. </p>
      <br><center><h2>Hate crimes per capita in 2018</h2></center>
    <div id="chart-2"></div>
</div>

<script src="scripts/chart-02.js"></script>
