<link rel="stylesheet" type="text/css" href="styles/scrollytelling.css">
  
  {{!-- <h2>scrollytelling hate group symbols</h2> --}}

<div class="scrollytelling image-stepper">

    <div id="hate-symbols" class="chart">
      <img src="images/hate-symbols.png" id="grid-step-0">
      <img src="images/hate-symbols-volksfront.png" id="grid-step-1">
      <img src="images/hate-symbols-general.png" id="grid-step-2">
      <img src="images/hate-symbols-numwords.png" id="grid-step-3">
      <img src="images/hate-symbols-new.png" id="grid-step-4">
    </div>

    <div class="steps color-thing">
        <div class="step" data-show-selector='#grid-step-0'>
            <h2>Hate Symbols Explained</h2>
            <p>The Anti-Defamation League launched its <a href="https://www.adl.org/hate-symbols">database</a> in 2000. It has grown to include over 200 entries.</p>
        </div>

        <div class="step" data-show-selector='#grid-step-1'>
            <p><b>Volksfront</b></p><p>The group Galloway was part of might be defunct, but the ADL still lists some of its symbols. The first one is the Volksfront logo, the second one is the group's flag, and the third one is the group's hand sign, in the shape of a sideways "V".</p>
        </div>

         <div class="step" data-show-selector='#grid-step-2'>
            <p><b>General Hate</b></p><p>Many of the hate symbols in the database are used by multiple groups. These include:</p><p>The swastika (associated with Hitler and the Nazi party)</p> <p>The Aryan Fist (adopted from the "black power fist" used by black nationalist groups in the 1960s and 1970s)</p> <p>The hammerskin hand sign (used by the racist skinhead group The Hammerskins, but among other skinhead groups as well)</p> <p>The confederate flag (used by non-extremists in the South to preserve history, but also commonly associated with many hate groups).</p>
        </div>

        <div class="step" data-show-selector='#grid-step-3'>
            <p><b>Numbers and Words</b></p><p> Many hate symbols are seemingly normal numbers or words.</p> <p>14 is shorthand for the white supremacist slogan "14 Words": "We must secure the existence of our people and a future for white children."</p> <p>AYAK is KKK shorthand for "Are You A Klansman?"</p> <p>H8 is used by white supremacists to mean hate</p> <p>“Anudda Shoah” is an anti-Semitic phrase used by white supremacists to mock Jews</p> <p>Others not on this chart include 88 (Heil Hitler), 9% (the percentage of the world's population that is supposedly white), and ZOG (meaning "Zionist Occupied Government," which refers to a belief that the U.S. government is controlled by Jews).</p>
        </div>

        <div class="step" data-show-selector='#grid-step-4'>
            <p><b>New Additions</b></p><p>In September 2019, the ADL added 36 new symbols to its database. Here are four of them.</p> <p>“Moon Man” is a meme derived from a character in 1980s McDonald’s restaurant commercials that was appropriated by white supremacists.</p><p>"Okay" is a common hand gesture that is used by the general public, but then claimed by many on the right -- not just extremists -- for the purpose of trolling liberals.</p><p>Pepe the Frog is a viral meme that white supremacists took control of and used to portray racist and anti-semitic messages.</p><p> The bowlcut hair-style portrays white supremacist mass killer Dylan Roof, who shot and killed 9 people at an African-American church in South Carolina in 2015.</p>
        </div>
        
    </div>
</div>

<script src="scripts/hate-symbols.js"></script>

