<div class="story-body">
  <div class="bar-charts">
    <div class="bar-chart1">
      <div style="margin-left: 110px;"><h3>Race</h3></div>
    <div id="bar-chart1"></div>
  </div>


<script src="scripts/bar-chart1.js"></script>

  <div class="bar-chart2">
      <div style="margin-left: 100px;"><h3>Religion</h3></div>
    <div id="bar-chart2"></div>
  </div>



<script src="scripts/bar-chart2.js"></script>

    <div class="bar-chart3">
      <div align="right"><h3>Sexual Orientation</h3></div>
    <div id="bar-chart3"></div>
</div>



<script src="scripts/bar-chart3.js"></script>

    <div class="bar-chart4">
      <div style="margin-left: 100px;"><h3>Disability</h3></div>
    <div id="bar-chart4"></div>
</div>



<script src="scripts/bar-chart4.js"></script>

    <div class="bar-chart5">
      <div style="margin-left: 115px;"><h3>Gender</h3></div>
    <div id="bar-chart5"></div>
</div>


<script src="scripts/bar-chart5.js"></script>

    <div class="bar-chart6">
      <div align="right"><h3>Gender Identity</h3></div>
    <div id="bar-chart6"></div>
</div>

</div>


<script src="scripts/bar-chart6.js"></script>

<style>
  .bar-charts > div {
    width: 33%;
    flex-grow: 1;
    overflow: hidden;
  }
</style>